@mixin dFlexWFullJusConCenter() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin dFlexWFullJusConSpacebtw() {
  display: flex;
  justify-content: space-between;
}

@mixin headingFont {
  font-family: "FuturaPTMedium";
}

@mixin dFlexWFullJusConSpacebtwaligncenter() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin dFlexWFullJusConSpacebtwdircolumn() {
  display: flex;
  flex-direction: column;
}

@mixin flexbox($dflex, $justifiyContent, $alignItems, $flexDir) {
  display: $dflex;
  justify-content: $justifiyContent;
  align-items: $alignItems;
  flex-direction: $flexDir;
}
