h1,
h2,
h3,
h4,
h5,
h6 {
  color: $siteTextColor;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  font-family: "FuturaPTMedium";
}

.pd-tp-btm {
  padding: 2.5rem 0;
}

/* =========== Bootstrap reset css start =========== */
.nav-tabs,
.nav-tabs .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border: none;
}

.nav-link {
  padding: 0;
}

/* =========== Bootstrap reset css start =========== */

.withNavButtons {
  .owl-nav {
    border-top: 1px solid $borderColor;
    margin-top: 20px;
    padding-top: 10px;
    button {
      border: 1px solid #b9b9b9 !important;
      padding: 6px 15px !important;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
  padding: 15px 0;
  ul {
    li {
      display: inline-flex;
      a {
        background-color: $secondayBgColor;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-weight: 600;
      }
    }
  }
}

.boxwithBorderPadding {
  border: 1px solid #ebebeb;
  padding: 15px 20px;
  &__head {
    padding-bottom: 15px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 20px;
    .sectitle {
      font-weight: 600;
    }
  }
}

.withnoheadfoot {
  height: 100vh;
  display: flex;
  align-items: center;
}

.uniform__form {
  .inform__text {
    margin-bottom: 15px;
  }
  &__input__holder {
    margin: 0 0 15px 0;
    input {
      border: 1px solid $inputBorderColor;
      width: 100%;
      height: 33px;
      padding: 0 0 0 20px;
    }
    button {
      width: 100%;
      background-color: $sitePrimayColor;
      color: #fff;
      font-weight: 600;
      height: 33px;
    }
  }
  .inst__for__user {
    margin: 1rem 0 0 0;
    border-top: 1px solid $secondayBgColor;
    padding-top: 1rem;
  }
}

.innerpage__banner {
  background-color: $siteTertiaryColor;
}

.subsection {
  h2 {
    margin-bottom: 1.5rem;
  }
}

.multipara {
  p {
    margin-bottom: 1.5rem;
  }
}
