@charset "UTF-8";
@font-face {
  font-family: "FuturaPTLight";
  src: url("../fonts/FuturaPTLight.eot");
  src: local("☺"), url("../fonts/FuturaPTLight.woff") format("woff"), url("../fonts/FuturaPTLight.ttf") format("truetype"), url("../fonts/FuturaPTLight.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FuturaPTMedium";
  src: url("../fonts/FuturaPTMedium.eot");
  src: local("☺"), url("../fonts/FuturaPTMedium.woff") format("woff"), url("../fonts/FuturaPTMedium.ttf") format("truetype"), url("../fonts/FuturaPTMedium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #404141;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  font-family: "FuturaPTMedium";
}

.pd-tp-btm {
  padding: 2.5rem 0;
}

/* =========== Bootstrap reset css start =========== */
.nav-tabs,
.nav-tabs .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border: none;
}

.nav-link {
  padding: 0;
}

/* =========== Bootstrap reset css start =========== */
.withNavButtons .owl-nav {
  border-top: 1px solid #ebebeb;
  margin-top: 20px;
  padding-top: 10px;
}

.withNavButtons .owl-nav button {
  border: 1px solid #b9b9b9 !important;
  padding: 6px 15px !important;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.pagination ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.pagination ul li a {
  background-color: #f2f2f2;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  font-weight: 600;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #404141;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  border: none;
}

a {
  color: #404141;
}

a:hover {
  text-decoration: none;
}

button:focus {
  outline: none;
}

p {
  margin: 0;
}

/* =========== header css start =========== */
.main__header {
  padding: 10px 0;
}

.main__header .headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__header .headerContent__logo {
  margin-right: 50px;
}

.main__header .headerContent__right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 74%;
}

.main__header .headerContent__right__leftpart {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main__header .headerContent__right__leftpart .normaluser__area .normaluser__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__header .headerContent__right__leftpart .normaluser__area .normaluser__top .header__org__inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main__header .headerContent__right__leftpart .normaluser__area .normaluser__top .header__org__inf .org__txt__hldr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 0 0;
}

.main__header .headerContent__right__leftpart .normaluser__area .normaluser__top .header__org__inf .org__txt__hldr .icon {
  margin: 0 10px 0 0;
}

.main__header .headerContent__right__leftpart .normaluser__area .normaluser__top .header__org__inf .org__txt__hldr .header__inf__txt {
  font-size: 12px;
}

.main__header .headerContent__right__leftpart .normaluser__area .normaluser__top .user__login__register__links ul li {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.main__header .headerContent__right__leftpart .normaluser__area .normaluser__top .user__login__register__links ul li a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.main__header .headerContent__right__leftpart .normaluser__area .search__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__header .headerContent__right__leftpart .normaluser__area .search__box input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid #106ee3;
  height: 35px;
  padding-left: 20px;
}

.main__header .headerContent__right__leftpart .normaluser__area .search__box button {
  width: 100px;
  background-color: #106ee3;
  color: #fff;
}

.main__header .headerContent__right__rightpart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
}

.main__header .headerContent__right__rightpart .users__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__header .headerContent__right__rightpart .users__links a {
  font-size: 22px;
  padding: 10px;
  margin-left: 10px;
}

.main__header .headerContent__right__rightpart .users__links .users__links__cart a {
  background-color: #fb272e;
  color: #fff;
  position: relative;
  padding: 10px 15px;
}

.main__header .headerContent__right__rightpart .users__links .users__links__cart a .cart__items__num {
  position: absolute;
  font-size: 11px;
  background: #fff;
  color: #000;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  right: 4px;
}

/* =========== header css end =========== */
/* =========== Category menu css start =========== */
.categorymenu {
  border: 1px solid #fb272e;
}

.categorymenu .icon {
  margin-right: 10px;
}

.categorymenu__head {
  background-color: #fb272e;
  padding: 12px 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.categorymenu__lists li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categorymenu__lists li a {
  padding: 12px 20px;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
}

/* =========== Category menu css end =========== */
/* =========== Home Banner css start =========== */
.home__banner__content {
  position: relative;
}

.home__banner__content__text {
  position: absolute;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 0 10%;
}

.home__banner__content__text a {
  background-color: #fb272e;
  color: #fff;
  font-weight: 600;
  padding: 10px 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 20px 0 0 0;
}

.home-slides .owl-dots {
  position: absolute;
  width: 100%;
  bottom: 10px;
}

/* =========== Home Banner css end =========== */
/* =========== Product listing box css start =========== */
.product__listing__box {
  border: 1px solid #ebebeb;
  padding: 15px 20px;
}

.product__listing__box__head {
  padding-bottom: 15px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 20px;
}

.product__listing__box__head .nav-item a {
  font-family: "FuturaPTMedium";
  font-size: 17px;
  margin: 0 50px 0 0;
}

/* =========== Product listing box css end =========== */
/* =========== Product Item css start =========== */
.product__item .item__infos {
  border: 1px solid #ebebeb;
  padding: 10px 15px 30px 15px;
}

.product__item .item__infos__cate {
  margin: 10px 0;
}

.product__item .item__infos__prd__title h2 {
  font-size: 14px;
  font-weight: 600;
}

.product__item .item__infos__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__item .item__infos__price .discounted__price {
  text-decoration: line-through;
}

.product__item .item__infos__price .current__price {
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
}

.product__item .item__infos__view {
  text-align: center;
}

.product__item .item__infos__view a {
  background-color: #fb272e;
  color: #fff;
  font-weight: 600;
  padding: 10px 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 20px 0 0 0;
  border-radius: 50px;
}

/* =========== Product Item css end =========== */
/* =========== Callout css start =========== */
.callouts__single {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 241px;
}

.callouts__single__text {
  position: absolute;
  left: 50px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.callouts__single__text h3 {
  color: #fb272e;
}

.callouts__single__image {
  position: relative;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.callouts__single:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 80%;
  background-color: #f2f2f2;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* =========== Callout css end =========== */
/* =========== Footer css start =========== */
.footer__top {
  background-color: #f2f2f2;
  padding-left: 20px;
  padding-right: 20px;
}

.footer__top__callouts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__top__callouts .foot__call {
  margin: 0 0 0 20px;
}

.footer__top__callouts .foot__call h4 {
  font-size: 17px;
  font-weight: 600;
}

.footer__bottom__infos .foot__info__texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0 0 0;
}

.footer__bottom__infos .foot__info__texts__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__bottom__infos .foot__info__texts__left .callinst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 0 30px;
}

.footer__bottom__infos .foot__info__texts__left .callinst .getcall {
  font-size: 17px;
  font-weight: 600;
}

.footer__bottom__infos .foot__info__texts__left .callinst .phnumber {
  font-size: 25px;
  font-weight: 600;
}

.footer__bottom__infos .foot__info__texts__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__bottom__infos .foot__info__texts__right .betouch {
  font-size: 17px;
  font-weight: 600;
}

.foot__menus__head h5 {
  font-size: 17px;
  font-weight: 600;
  margin: 0 0 1rem 0;
}

.foot__menus ul li {
  margin: 0 0 0.3rem 0;
}

/* =========== Footer css end =========== */
/* =========== Categroy page css start =========== */
.innerpage__banner__content {
  position: relative;
}

.innerpage__banner__content img {
  width: 100%;
}

.innerpage__banner__content__texts {
  position: absolute;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  padding: 0 0 0 4rem;
}

.product__listing__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #ebebeb;
}

.product__listing__head .rsult__num {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 12px 20px;
}

.product__listing__head select {
  background-color: #fb272e;
  border: none;
  color: #fff;
  padding: 10px;
}

/* =========== Categroy page css end =========== */
/*# sourceMappingURL=styles.css.map */